version: '3.8'

services:
  php:
    build: .
    container_name: vitegourmand-php
    ports:
      - "${PHP_PORT}:80"
    volumes:
      - ./app:/var/www/html
    depends_on:
      - mysql
      - mongo

  mysql:
    image: mysql:8.0
    container_name: vitegourmand-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: vitegourmand
      MYSQL_USER: hermann
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  mongo:
    image: mongo:6
    container_name: vitegourmand-mongo
    restart: always
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mysql_data:
  mongo_data:
